@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h3 class="card-title">Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        

                        <div class="mb-3">
                            <label for="Email" class="form-label">Correo Electrónico</label>
                            <input id="Email" name="Email" class="form-control" placeholder="Correo Electrónico" />
                            
                        </div>

                        <div class="mb-3">
                            <label for="Clave" class="form-label">Contraseña</label>
                            <input id="Clave" name="Clave" type="password" class="form-control" placeholder="Contraseña" />
                            
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
